img {
    max-width: 100%;
}

.color {
    background: rgb(221, 165, 10);
}

.contenedor {
    background-color: white;
    max-width: 80%;
    margin: 0 auto 0 auto;
}

.contenedor-head {
    max-width: 80%;
    margin: 0 auto 0 auto;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.centrar-texto {
    text-align: center;
}

.site-encabezado {
    color: orange;
}

.nota {
    flex-basis: calc(80%);
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.boton {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
}

.boton-cyan {
    background-color: cyan;
}

.fw-300 {
    font-weight: 300;
}